In [350]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

###REMOVE WARNING BECAUSE OF PANDAS ANNOYING WARNING WHEN ENUMERATE STRINGS..(you can remove it if you want)

In [167]:
import warnings
warnings.filterwarnings('ignore')

In [168]:
train_set = r"C:\Users\user\Desktop\database exercises\car crash\archive\train-new.csv"
test_set = r"C:\Users\user\Desktop\database exercises\car crash\archive\test-new.csv"

In [169]:
df1 = pd.read_csv(train_set)

In [170]:
df2 = pd.read_csv(test_set)

In [171]:

df2 = df2.drop(['dvcat'],axis=1)

In [172]:
df2.shape

(8652, 13)

In [352]:
df2.head()

,weight,dead,airbag,seatbelt,frontal,sex,ageOFocc,yearacc,yearVeh,abcat,occRole,deploy,caseid
0,18.895,alive,airbag,belted,0,m,25,2002,2000.0,deploy,pass,1,81:99:1
1,266.532,alive,none,none,1,f,28,2001,1991.0,unavail,driver,0,76:12:2
2,51.810,alive,airbag,belted,1,f,36,1999,1994.0,deploy,driver,1,78:53:2
3,1567.626,alive,airbag,belted,0,f,24,2002,1994.0,nodeploy,driver,0,11:47:1
4,31.342,alive,none,none,1,f,46,1997,1990.0,unavail,pass,0,12:87:2

In [174]:
df2.head()

,weight,dead,airbag,seatbelt,frontal,sex,ageOFocc,yearacc,yearVeh,abcat,occRole,deploy,caseid
0,18.895,alive,airbag,belted,0,m,25,2002,2000.0,deploy,pass,1,81:99:1
1,266.532,alive,none,none,1,f,28,2001,1991.0,unavail,driver,0,76:12:2
2,51.810,alive,airbag,belted,1,f,36,1999,1994.0,deploy,driver,1,78:53:2
3,1567.626,alive,airbag,belted,0,f,24,2002,1994.0,nodeploy,driver,0,11:47:1
4,31.342,alive,none,none,1,f,46,1997,1990.0,unavail,pass,0,12:87:2

In [175]:
df1.keys()

Index(['dvcat', 'weight', 'dead', 'airbag', 'seatbelt', 'frontal', 'sex',
       'ageOFocc', 'yearacc', 'yearVeh', 'abcat', 'occRole', 'deploy',
       'caseid', 'injSeverity'],
      dtype='object')

In [176]:
df_train_T = df1.loc[:, df1.columns != 'dead']

In [298]:
df_train_T['target'] = df1['dead']

In [299]:
df_test_T = df2.loc[:,df2.columns != 'dead']

In [300]:
df_test_T['target'] = df2['dead']

In [301]:
df_train_T.isnull().values.any()

False

In [302]:
df_train_T.airbag[df_train_T.airbag == 'airbag'] =1

In [303]:
df_test_T.airbag[df_test_T.airbag == 'airbag'] =1
df_test_T.airbag[df_test_T.airbag == 'none'] = 0
df_test_T.seatbelt[df_test_T.seatbelt == 'belted'] =1
df_test_T.seatbelt[df_test_T.seatbelt == 'none'] =0
df_test_T.sex[df_test_T.sex == 'f'] =1
df_test_T.sex[df_test_T.sex == 'm'] =2
df_test_T.abcat[df_test_T.abcat == 'deploy'] =1
df_test_T.abcat[df_test_T.abcat == 'nodeploy'] =2
df_test_T.abcat[df_test_T.abcat == 'unavail'] =0
df_test_T.occRole[df_test_T.occRole == 'driver'] =1
df_test_T.occRole[df_test_T.occRole == 'pass'] =0
df_test_T.target[df_test_T.target == 'dead'] =0
df_test_T.target[df_test_T.target == 'alive'] =1

In [304]:
df_test_T.head()

,weight,airbag,seatbelt,frontal,sex,ageOFocc,yearacc,yearVeh,abcat,occRole,deploy,caseid,target
0,18.895,1,1,0,2,25,2002,2000.0,1,0,1,81:99:1,1
1,266.532,0,0,1,1,28,2001,1991.0,0,1,0,76:12:2,1
2,51.810,1,1,1,1,36,1999,1994.0,1,1,1,78:53:2,1
3,1567.626,1,1,0,1,24,2002,1994.0,2,1,0,11:47:1,1
4,31.342,0,0,1,1,46,1997,1990.0,0,0,0,12:87:2,1

In [305]:
df_train_T.airbag[df_train_T.airbag == 'none'] = 0

In [306]:
df_train_T.seatbelt[df_train_T.seatbelt == 'belted'] =1

In [307]:
df_train_T.seatbelt[df_train_T.seatbelt == 'none'] =0

In [308]:
df_train_T.sex[df_train_T.sex == 'f'] =1
df_train_T.sex[df_train_T.sex == 'm'] =2
df_train_T.abcat[df_train_T.abcat == 'deploy'] =1
df_train_T.abcat[df_train_T.abcat == 'nodeploy'] =2
df_train_T.abcat[df_train_T.abcat == 'unavail'] =0

In [319]:
df_train_T.occRole[df_train_T.occRole == 'driver'] =1
df_train_T.occRole[df_train_T.occRole == 'pass'] =0

In [320]:
df_train_T.target[df_train_T.target == 'dead'] =0
df_train_T.target[df_train_T.target == 'alive'] =1

In [312]:
df_test_T=df_test_T.drop(['yearVeh'],axis=1)

In [324]:
df_train_T.head(5)

,weight,airbag,seatbelt,frontal,sex,ageOFocc,yearacc,abcat,occRole,deploy,target
0,53,1,1,1,1,48,2002,1,1,1,0
1,154,0,0,1,2,26,2001,0,1,0,1
2,38,0,0,1,1,51,2002,0,1,0,1
3,168,1,1,1,2,27,1998,1,0,1,1
4,27,1,1,0,2,26,2002,2,0,0,1

In [325]:
df_test_T.head()

,weight,airbag,seatbelt,frontal,sex,ageOFocc,yearacc,abcat,occRole,deploy,caseid,target
0,18,1,1,0,2,25,2002,1,0,1,81:99:1,1
1,266,0,0,1,1,28,2001,0,1,0,76:12:2,1
2,51,1,1,1,1,36,1999,1,1,1,78:53:2,1
3,1567,1,1,0,1,24,2002,2,1,0,11:47:1,1
4,31,0,0,1,1,46,1997,0,0,0,12:87:2,1

In [339]:
df_test_T['weight'] = df_test_T['weight'].astype(int)
df_test_T['airbag'] = df_test_T['airbag'].astype(int)
df_test_T['seatbelt'] = df_test_T['seatbelt'].astype(int)
df_test_T['sex'] = df_test_T['sex'].astype(int)
df_test_T['abcat'] = df_test_T['abcat'].astype(int)
df_test_T['occRole'] = df_test_T['occRole'].astype(int)
df_train_T['target'] = df_train_T['target'].astype(int)
df_test_T['target'] = df_test_T['target'].astype(int)

In [340]:
df_train_T.dtypes

weight      int32
airbag      int32
seatbelt    int32
frontal     int64
sex         int32
ageOFocc    int64
yearacc     int64
abcat       int32
occRole     int32
deploy      int64
target      int32
dtype: object

In [342]:
df_test_T = df_test_T.drop(['caseid'],axis=1)

In [343]:
df_test_T.dtypes

weight      int32
airbag      int32
seatbelt    int32
frontal     int64
sex         int32
ageOFocc    int64
yearacc     int64
abcat       int32
occRole     int32
deploy      int64
target      int32
dtype: object

In [344]:
df_train_T.head()

,weight,airbag,seatbelt,frontal,sex,ageOFocc,yearacc,abcat,occRole,deploy,target
0,53,1,1,1,1,48,2002,1,1,1,0
1,154,0,0,1,2,26,2001,0,1,0,1
2,38,0,0,1,1,51,2002,0,1,0,1
3,168,1,1,1,2,27,1998,1,0,1,1
4,27,1,1,0,2,26,2002,2,0,0,1

In [345]:
df_test_T.head()

,weight,airbag,seatbelt,frontal,sex,ageOFocc,yearacc,abcat,occRole,deploy,target
0,18,1,1,0,2,25,2002,1,0,1,1
1,266,0,0,1,1,28,2001,0,1,0,1
2,51,1,1,1,1,36,1999,1,1,1,1
3,1567,1,1,0,1,24,2002,2,1,0,1
4,31,0,0,1,1,46,1997,0,0,0,1

In [346]:
df_train_T.shape

(17565, 11)

In [347]:
df_test_T.shape

(8652, 11)

In [364]:
knn = KNeighborsClassifier(n_neighbors=5)
fit = knn.fit(df_train_T.iloc[:,:-1],df_train_T['target'])

In [365]:
gauss = GaussianNB()
fitG = gauss.fit(df_train_T.iloc[:,:-1],df_train_T['target'])

In [366]:
predict = fit.predict(df_test_T.iloc[:,:-1])

In [367]:
predict2 = fitG.predict(df_test_T.iloc[:,:-1])

In [368]:
print(accuracy_score(df_test_T['target'],predict))
print(accuracy_score(df_test_T['target'],predict2))

0.9514563106796117
0.8495145631067961